<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Viz Demo</title>
    <link rel="stylesheet" type="text/css" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.5.3/c3.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.5.3/c3.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v4.js"></script>
    <script type="text/javascript" src="https://dagrejs.github.io/project/graphlib-dot/v0.6.3/graphlib-dot.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dagre/0.8.2/dagre.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dagre-d3/0.6.1/dagre-d3.js"></script>
    <script type="text/javascript">
        var url='{{ config }}'
    </script>
    <script type="text/javascript" src="static/js/main.js"></script>
    <script type="text/javascript" src="static/js/table.js"></script>
    <script type="text/javascript" src="static/js/flow.js"></script>
    <script type="text/javascript" src="static/js/mapbox.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
        integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
        crossorigin=""></script>

    <style>
        th {
            background-color: #C0AB8E;
            color: black;
        }

        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
    </style>
</head>

<body>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('connect', function () {
            socket.emit('enter room', data = '{{ config }}');
            socket.emit('ready', data = '{{ config }}');
            document.body.style.backgroundColor = '#EADEDB';
        });

        socket.on('disconnect', function () {
            socket.emit('leave room', data = '{{ config }}');
            document.body.style.backgroundColor = null;
        });

        socket.on('error', function (errorMsg) {
            console.log(errorMsg);
        });

        socket.on('generate', function (graphArr) {
            for (var i = 0; i < graphArr.length; i++) {
                var formatObj = graphArr[i];
                setUpDivMap(formatObj);
            }
        });

        socket.on('load', function (updateGraphArr) {
            loadCharts(updateGraphArr);
        });
    </script>
</body>